a {
    background-color:aquamarine ;
    color: rgb(0, 6, 7);
    width: 50px;
    height: 60px;
    display: inline-block;
    text-decoration: none;
}
a:hover{
    color: rgb(60, 255, 0);
    background-color: aliceblue;
    transform: translateY(5px);
}
a :visited{
    color: red;
}