body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://static.vecteezy.com/system/resources/previews/024/264/951/non_2x/blurred-spring-background-nature-with-blooming-glade-generative-ai-technology-free-photo.jpg);
    background-size: cover;



}
.container{
    width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 100px;
    box-shadow: 25px 25px 12px rgba(0,0,0,0.1);
    margin-top: 250px ;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.6);
    padding-bottom: 50px;
}
.container .po {
   display: flex;
   flex-direction: column;
   margin-top: 20px;
}
.ola{
    gap: 15px;
    padding-top: 30px;
}
.pola{
    width: 150px;
    height: 150px;
    margin-left: 50px;
    margin-top: 20px;
    
}

input[type=nama], input[type=password], input[type=email]{
    width: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 10px;
}
label{
    font-size: 18px;
    font-weight: bold;
}
input[type=submit]{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition: all 0.7s ease;
    margin-top: 20px;
    width: 100%;
}
input[type=submit]:hover{
    background-color: blue;
}